{% load staticfiles %}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
{#        <div class="user-panel">#}
{#            <div class="pull-left image">#}
{#                <img src="{% static '/dist/img/user2-160x160.jpg'%}" class="img-circle" alt="User Image">#}
{#            </div>#}
{##}
{#        </div>#}
        <!-- search form -->

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="{% url 'restaurant-add' %}">
                    <i class="fa fa-user"></i> <span>Resturants</span>
                </a>
            </li>
            <li class="treeview">
                <a href="{% url 'event-add' %}">
                    <i class="fa fa-users"></i> <span>Events</span>
                </a>
            </li>

            <li class="treeview">
                <a href="{% url 'activity-add' %}">
                    <i class="fa fa-newspaper-o"></i> <span>Activity</span>
                </a>
            </li>

            <li class="treeview">
                <a href="{% url 'tourist-attraction-add' %}">
                    <i class="fa fa-gears"></i> <span>Tourist Attraction</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>