<div class="modal fade" id="allPostsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--  <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
             </div> -->
            <div class="modal-body">
                <div class="wrapper-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="/*! margin-top: 0%; */"><span aria-hidden="true">×</span></button>
                    <div style="/*! margin-top: 10px; */" class="col-sm-3 col-sm-offset-4">
                        <button id="logout" class="btn btn-default vankober-btn" style="/*! margin-left: 40%; */"> Sign Out</button>
                    </div>
                    <div class="col-sm-12" style="padding: 0;">
                        <h3>
                            Posts:
                        </h3>
                    </div>


                    <div class="col-sm-12" style="margin-top: 10px;">
                        <div class="form-horizontal" id="postlist">
                            <div class="form-group"
                                 style="border-top: 1px solid white;/*! border-left: none; *//*! border-right: none; */padding: 5px 0;margin-bottom: 0;">
                                No post
                            </div>


                            <div style="margin-top: 100px;"></div>

                            <div class="form-group"
                                 style="border-top: 1px solid white;border-bottom: 1px solid white;padding: 5px 0;margin-bottom: 0;">
                                <label for="inputEmail3"
                                       style="/*! float: left; */text-align: left;padding-left: 0;padding-right: 0;"
                                       class="col-sm-2 control-label">New Post</label>

                                <div style="float: right;padding: 0;" class="col-sm-2">
                                    <button class="btn btn-default vankober-btn" id="newpost">
                                        new post
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>