<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--  <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
             </div> -->
            <div class="modal-body">
                <div class="wrapper-modal">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="/*! margin-top: 0%; */"><span aria-hidden="true">×</span></button>
                    <h3>
                        Create "Map Post"
                    </h3>

                    <div class="col-sm-12" style="margin-top: 10px;">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control-vk" id="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Street</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control-vk" id="street">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Postal Code</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control-vk" id="postalcode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 col-sm-offset-1 control-label">City</label>
                                <div class="col-sm-6">
                                    <select class="form-control-vk  background-none " id="city">
                                        <option value="Vancouver">Vancouver</option>
                                        <option value="North Vancouver">North Vancouver</option>
                                        <option value="Burnaby">Burnaby</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 col-sm-offset-1 control-label">Province</label>
                                <div class="col-sm-6">
                                    <select class="form-control-vk  background-none" id="province">
                                        <option value="BC">BC</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-6 control-label">Rooms in
                                    appartment/house</label>
                                <div class="col-sm-4">
                                    <select class="form-control-vk  background-none" id="rooms">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 col-sm-offset-1 control-label">Monthly Price</label>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control-vk" id="price">
                                </div>
                            </div>
                            <div class="form-group">
                                <div style='overflow:hidden;height:300px;width:100%;'>
                                    <div id='gmap_canvas' style='height:300px;width:100%;'></div>
                                    <style>#gmap_canvas img {
                                        max-width: none !important;
                                        background: none !important
                                    }</style>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="inputEmail3"  class="col-sm-2 control-label">Latitude</label>
                                <div class="col-sm-4">
                                    <input class="form-control-vk" id="latitude" type="text">
                                </div>
                                <label for="inputEmail3" class="col-sm-2 control-label">Longitude</label>
                                <div class="col-sm-4">
                                    <input class="form-control-vk" id="longitude" type="text">
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 50px;">
                                <div class="col-sm-offset-3 col-sm-5">
                                    <button type="submit" class="btn btn-default vankober-btn" id="post">create "map post"
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>