<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--  <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
             </div> -->
            <div class="modal-body">
                <div class="wrapper-modal"  style="border-bottom: 1px dotted grey;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="/*! margin-top: 0%; */"><span aria-hidden="true">×</span></button>
                    <h3>
                        Sign in
                    </h3>

                    <div class="col-sm-12" style="margin-top: 35px;">
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">
                                    Email</label>
                                <div class="col-sm-6">
                                    <input class="form-control-vk" id="login_email" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Password</label>
                                <div class="col-sm-6">
                                    <input class="form-control-vk" id="login_password" type="password">
                                </div>
                            </div>

                            <div class="form-group" style="margin-top: 50px;">
                                <div class="col-sm-offset-4 col-sm-5">
                                    <button  id="login" type="submit" class="btn btn-default vankober-btn">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="wrapper-modal">
                    <h3>
                        Create Account
                    </h3>

                    <div class="col-sm-12" style="margin-top: 35px;">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Nickname</label>
                                <div class="col-sm-6">
                                    <input class="form-control-vk" id="nickname" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">
                                    Email</label>
                                <div class="col-sm-6">
                                    <input class="form-control-vk" id="email" type="text">
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-4 control-label">Password</label>
                                <div class="col-sm-6">
                                    <input class="form-control-vk" id="password" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputDOB" class="col-sm-4 control-label">Confirm Password</label>
                                <div class="col-sm-6">
                                    <input class="form-control-vk" id="confirm_password" type="password">
                                </div>
                            </div>


                            <div class="form-group" style="margin-top: 50px;">
                                <div class="col-sm-offset-4 col-sm-5">
                                    <button  id="create_account" type="submit" class="btn btn-default vankober-btn">create account</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>