/*@font-face {
  font-family: 'SourceSansProBlack';
  src: url('fonts/OTF/SourceSansPro-Black.otf'); /* IE9 Compat Modes */
  /*
  
}*/

		.weekCalender{
    		    position: fixed;
				top: 20px;
				text-align: center;
				left: 50%;
				/*background: rgb(243,243,243);*/
				padding: 5px;
				line-height: 0.5;

    	}

    	.weekCalender .eachDay {
			float: left;
			margin-right: 5px;
			font-weight: bold;
			background: rgb(243,243,243);
			padding: 8px 5px 0 5px;
		}
		
		.weekCalender .day{
			font-size: 18px;
			font-style: italic;
		}

		.weekCalender .holiday {
			color: #45a2d5;
		}

		.weekCalender .date{
			font-size: 26px;
		}

		.weekCalender .noEvents {
			font-size: 0.7em;
			color: violet;
			margin: 5px;
		}

		#mapMenu {
			/* height: 1009px; */
			/* background-color: #f3f3f3; */
			/* float: left; */
			display: block;
			position: fixed;
			right: 42px;
			top: 50px;
			z-index: 1;
			/* width: 100px; */
			/* text-align: right; */
			padding: 5px 0 0px 30px;
			float: right;
		}

		.pinToggles{
			z-index:100;
		}

		#mapContainer{
			
		}

		#accordion {
			list-style: none;
			padding: 0px 0 0 0;
			width: 250px;
		}

		#accordion li input {
			margin-right: 10px;
			text-align: center;
		}

		#accordion span {
			/* display: block; */
			/* background-color: #3f76b0; */
			font-weight: bold;
			margin: 1px;
			cursor: pointer;
			padding: 5px 5px 5px 0;
			list-style: circle;
			-moz-border-radius: 10px;
			/* -webkit-border-radius: 10px; */
			/* color: #ffffff; */
		}

		#accordion ul {
			list-style: none;
			padding: 5px 0 5px 0px;
			background: #f3f3f3;
		}

		#accordion ul{
			display:none;
		}

		#accordion ul li {
			font-weight: normal;
			cursor: auto;
			background-color: #f3f3f3;
			padding: 0 0 0 28px;
		}

		#accordion ul li i {
			margin-right: 10px;
			-ms-transform: rotate(7deg);
			-webkit-transform: rotate(7deg);
			transform: rotate(90deg);
			margin-top: 2px;
		}
		#accordion a {
			text-decoration:none;
		}

		#accordion a:hover{
			text-decoration:underline;
		}
		.animate {
		    -webkit-transform: rotate(0deg) !important;
		    -moz-transform: rotate(0deg) !important;
		    transform: rotate(0deg) !important;
		}

		input[type='text'] {
			font-size: 13px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			padding: 3px;
			background: #fff;
			border: 1px solid #aac;
		}
		input.time {
			/*width: 80px;*/
		}

		/* new checkbox style */
		label.checkboxx input[type="checkbox"] {display:none;}
		
		label.checkboxx div {
			display: inline-block;
			/*border: 2px solid violet;*/
			border-radius: 6px;
			width: 17px;
			height: 18px;
			/* background: #C33; */
			vertical-align: middle;
			margin: 3px;
			transition: width 0.1s, height 0.1s, margin 0.1s;
		}
		
		label.checkboxx :checked + div {
		  /*background:#6F6;*/
		  background: url('images/icons/tick.png') no-repeat;
		  background-size: 100%;
		  width: 17px;
		  height: 18px;
		  margin: 3px;
		}
		.collapse-icon {
			/*border-right: 2px solid violet;*/
			float: right;
			margin-right: 5px;
		}
		/* new checkbox style end */

		.wrapper {
			 height: 100%; 
			padding: 20px;
			width: 50%;
			position: relative;
			left: 23%;
			border: 1px solid black;
			border-top: none;
			border-bottom: none;
			float: left;
			/*background-color: #eeece1;*/
		}

		.form-container {
			float: left;
			width: 100%;
		}

		body {
			/*background-color: #eeece1;*/
		}

		.form-control-vk {
			display: inline;
			width: 100%;
			height: 40px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #E8F0FF !important;
			background-image: none;
			border: 1px solid #ccc !important;
			border-radius: 7px;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		}

		.vankober-btn {
			background-color: #938E8C;
			border: 1px solid orange;
			border-radius: 5px;
			font-weight: bold;
			color: white;
			width: 100%;
		}

		.wrapper-modal {
			
			/* height: 100%; */
			padding: 20px;
			width: 100%;
			position: relative;
			/* left: 23%; */
			border: 1px solid black;
			border-top: none;
			border-bottom: none;
			float: left;
			/*background-color: #eeece1;*/
			background: white;

		}

		.modal-body {
			padding: 0 !important;
		}

/*newly added */
		
		.modal-content {
			border: 1px solid black;
			border-bottom: none;
		}

		/*ended newly added*/