{% extends 'layout/main.html' %}

{% block content %}

    <section class="content-header">
        <h1>
            Event
            <small>Add</small>
        </h1>
        {#        <ol class="breadcrumb">#}
        {#            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
        {#            <li><a href="#">Forms</a></li>#}
        {#            <li class="active">General Elements</li>#}
        {#        </ol>#}
    </section>

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Event</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="{% url 'event-save' %}" method="post">
                        <div class="box-body">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Category</label>
                                    <select class="form-control" name="category">
                                        <option value="concert">concert</option>
                                        <option value="art">art</option>
                                        <option value="sport">sport</option>
                                        <option value="other">other</option>
                                    </select>
                                    {#                                    <input type="text" class="form-control" id="name" name="name" placeholder="name">#}
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Street</label>
                                    <input type="text" class="form-control" id="name" name="street"
                                           placeholder="Street">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Province</label>
                                    <input type="text" class="form-control" id="name" name="province"
                                           placeholder="Province">
                                </div>
                                 <div class="form-group">
                                    <label for="exampleInputEmail1">Event Start Date</label>

                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" name="event_date"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Postal Code</label>
                                    <input type="text" class="form-control" id="name" name="postalcode"
                                           placeholder="Postal Code">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">City</label>
                                    <input type="text" class="form-control" id="name" name="city" placeholder="City">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Country</label>
                                    <input type="text" class="form-control" id="name" name="country"
                                           placeholder="Country">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Latitude</label>
                                    <input type="text" class="form-control" id="lat" name="latitude"
                                           placeholder="Latitude">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Longitude</label>
                                    <input type="text" class="form-control" id="lon" name="longitude"
                                           placeholder="Longitude">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Event End Date</label>

                                    <div class='input-group date' id='datetimepicker2'>
                                        <input type='text' class="form-control" name="event_end_date"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
            <!--/.col (left) -->
            <!-- right column -->

        </div>

        <!-- /.row -->
    </section>
{% endblock %}